@import '~bootstrap/scss/bootstrap';
@import 'variables';

.grid-container {
  border: 2px solid $black;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
  height: 500px;
  margin: 40px auto;
  width: 500px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sign-in {
  border: 2px solid $black;
  margin: 2px;
  padding: 2px;
}

.sign-up {
  border: 2px solid $black;
  margin: 2px;
  padding: 2px;
}

.sign-up-btn {
  margin-top: 2px;
}

.sign-in-btn {
  margin-top: 2px;
}

.header {
  border: 2px solid $black;
}

.clearfix {
  overflow: auto;
}

h1 {
  border: 2px solid black;
  margin-top: 20px;
  text-align: center;
}

.status-message {
  text-align: center;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0;
}

.cell-1 {
  grid-area: 1 1 2 2;
}

.cell-2 {
  grid-area: 1 2 2 3;
}

.cell-3 {
  grid-area: 1 3 2 4;
}

.cell-4 {
  grid-area: 2 1 3 2;
}

.cell-5 {
  grid-area: 2 2 3 3;
}

.cell-6 {
  grid-area: 2 3 3 4;
}

.cell-7 {
  grid-area: 3 1 4 2;
}

.cell-8 {
  grid-area: 3 2 4 3;
}

.cell-9 {
  grid-area: 3 3 4 4;
}

.new-game-button {
  display: block;
  font-size: 18px;
  margin: 10px auto;
}

.sign-out-button {
  float: right;
}

.success {
  color: $success-green;
}

.failure {
  color: $failure-red;
}
