@import '~bootstrap/scss/bootstrap';
@import 'variables';


body {
  background-color: $main;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
  height: 390px;
  margin: 0 auto;
  width: 390px;
}

.lookup-display {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
  height: 200px;
  width: 200px;
}

.lookup-container {
  display: inline;
  left: 0;
  position: fixed;
}

.records {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.game-id {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.lookup-label {
  margin: 3px;
}

.lookup-id {
  margin: 3px;
  width: 115px;
}

.lookup-submit {
  border: 2px solid $black;
  margin: 3px;
}

.lookup-button {
  align-items: center;
  border: 2px solid $black;
  display: flex;
  font-size: 24px;
  justify-content: center;
}

.lookup-cell-1 {
  grid-area: 1 1 2 2;
}

.lookup-cell-2 {
  grid-area: 1 2 2 3;
}

.lookup-cell-3 {
  grid-area: 1 3 2 4;
}

.lookup-cell-4 {
  grid-area: 2 1 3 2;
}

.lookup-cell-5 {
  grid-area: 2 2 3 3;
}

.lookup-cell-6 {
  grid-area: 2 3 3 4;
}

.lookup-cell-7 {
  grid-area: 3 1 4 2;
}

.lookup-cell-8 {
  grid-area: 3 2 4 3;
}

.lookup-cell-9 {
  grid-area: 3 3 4 4;
}

button {
  border-radius: 20px;
}

.game-button {
  background-color: $ocean-blue;
  border: 4px solid $black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 60px;

}

.new-game-container {
  display: flex;
  justify-content: center;
}

.new-game-button-human {
  border: 2px solid $black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 2px;
}

.new-game-button-ai {
  border: 2px solid $black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 2px;
}

.sign-out-button {
  border: 2px solid $black;
  float: right;
  font-size: 24px;
}

.change-pw-form {
  background-color: $white;
  border: 2px solid $black;
  border-radius: 20px;
  bottom: 0;
  display: inline;
  left: 0;
  margin-bottom: 2px;
  position: fixed;
  text-align: center;
}

.change-pw-button {
  border: 2px solid $black;
  border-bottom-left-radius: 20px;
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3px;
}

.form-label-pw {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sign-in {
  background-color: $white;
  border: 2px solid $black;
  margin: 2px;
  padding: 2px;
  text-align: center;
}

.sign-up {
  background-color: $white;
  border: 2px solid $black;
  margin: 2px;
  padding: 2px;
  text-align: center;
}

.sign-up-btn {
  border: 2px solid $black;
  font-size: 34px;
  margin-top: 6px;
}

.sign-in-btn {
  border: 2px solid $black;
  font-size: 34px;
  margin-top: 6px;
}

.header {
  border: 2px solid $black;
}

.clearfix {
  overflow: auto;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.status-message {
  text-align: center;
}

.form-label {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
}


input {
  font-size: 25px;
}

.cell-1 {
  grid-area: 1 1 2 2;
}

.cell-2 {
  grid-area: 1 2 2 3;
}

.cell-3 {
  grid-area: 1 3 2 4;
}

.cell-4 {
  grid-area: 2 1 3 2;
}

.cell-5 {
  grid-area: 2 2 3 3;
}

.cell-6 {
  grid-area: 2 3 3 4;
}

.cell-7 {
  grid-area: 3 1 4 2;
}

.cell-8 {
  grid-area: 3 2 4 3;
}

.cell-9 {
  grid-area: 3 3 4 4;
}



.success {
  color: $success-green;
}

.failure {
  color: $failure-red;
}
